<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <h1 class="mt-5">Let's chat, {{ username }}</h1>
    <div style="margin: 1ch">
            <h3>Participants</h3>
            <ul id="participants" class="list-group">
                {% for user in participants %}
                    <li class="list-group-item">{{ user.first_name }} {{user.last_name}}</li>
                {% endfor %}
            </ul>
    </div>
    <form id="form">
        <div class="input-group">
            <input type="text" class="form-control" name="message" placeholder="Type your message"/>
            <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Send</button>
            </div>
        </div>

    </form>


    <div id="messages" class="mt-4" style="max-height: 400px; overflow-y: auto;">

    </div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/chat/{{ chat_name }}/?token={{ token }}`

        const chatSocket = new WebSocket(url)
        const messagesContainer = document.getElementById('messages');
        function scrollToBottom() {

            messagesContainer.scrollTop = messagesContainer.scrollHeight;
                }
        chatSocket.onmessage = function (e) {
            let data = JSON.parse(e.data)
            console.log('Data', data)

            if (data.type === 'chat') {
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend',
                    `<div class="alert alert-info mt-2 " >
                        <p>${data.message} <span class="font-weight-bold">${data.username}</span> <span class="text-muted">${data.timestamp}</span></p>
                    </div>`);
                scrollToBottom();
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': '{{ username }}',
                'sender_id': '{{ sender_id }}'
            }))
            form.reset()
        })


    </script>
</div>
</body>
</html>