<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
    <h1>Let's chat</h1>

    <form id="form">
        <input type="text" name="message"/>
    </form>
    <div id="messages">

    </div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/chat/{{ chat_name }}/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function (e) {
            let data = JSON.parse(e.data)
            console.log('Data', data)

            if (data.type === 'chat') {
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend', `<div>
                                    <p>${data.message}</p>
                                </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })


    </script>
</body>
</html>